<!doctype html>
<html class="tout" lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  
  <div class="container-fluid">
    <div class="row header">
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
        <img src="images/adopteuncheval.jpg" class="img-responsive">
      </div>
      <div class="col-xs-8 col-sm-10 col-md-10 col-lg-10">
        <h1>Adopte un cheval</h1>
        <h2 class="hidden-xs">La meilleure facon de trouver son étalon!</h2>
      </div>
    </div>
  </div>
</head>

<div class="row selectionencart">
  <h5>Notre séléction:</h5>
</div>
<div class="row selectioncontenu">
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
    <h3>Adopte un brun</h3>
    <img src="images/brun.jpg" class="img-responsive">
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
    <h3>Adopte un tâcheté</h3>
    <img src="images/tachete.jpg" class="img-responsive">
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
    <h3>Adopte un pure sang</h3>
    <img src="images/pure.jpg" class="img-responsive">
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
    <h3>Adopte un mysterieux</h3>
    <img src="images/mysterieux.jpg" class="img-responsive">
  </div>
</div>

<div class="row recherche">
<form role="form">
  <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <label for="type">J'en veux un</label>
    <span  class="nullable">
      <select class="form-control input-sm" ng-model="race">
        <option value="">Qu'importe...</option>
        <option value="SANG">cheval de selle</option>
        <option value="TRAI">cheval de traie</option>
      </select>
    </span>
  </div>

  <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <label for="region">Près de chez moi</label>
    <span  class="nullable">
    <select class="form-control input-sm" ng-model="region">
      <option value="">D'ici et d'ailleurs</option>
      <option value="LIM">Limousin</option>
      <option value="LOR">Lorraine</option>
      <option value="FRC">Franche Comté</option>
      <option value="HND">Haute Normandie</option>
      <option value="BRG">Bourgogne</option>
      <option value="IDF">Ile de France</option>
      <option value="PCH">Poitou Charentes</option>
      <option value="PIC">Picardie</option>
      <option value="MID">Midi Pyrénées</option>
      <option value="PAC">Provence - Alpes - Cote d'Azur</option>
    </select>
    </span>
  </div>

  <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <label>En activité depuis</label>
    <select class="form-control input-sm" ng-model="date" >
      <option value="">Expérience variable</option>
      <option>2012</option>
      <option>2008</option>
      <option>2007</option>
    </select>
  </div>

</form>
</div>
</div>

<!-- Désolé, on a pas trouvé chaussure à votre pied / btn-disabled -->

<div class="container-fluid">

<div class="row contenu">
<div ng-repeat="record in records | limitTo: nbresults | filter:region | filter:race | filter:date"> 

  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3"> 
    <a data-toggle="modal" data-target="#Detail" class="thumbnail">
    <img src="images/{{record.fields.type_equide_etalon}}.jpg" class="img-responsive">
    <h3>JoliCoeur du {{record.fields.num_departement_stationnement}}</h3>
    <div class="caption">
      <div info-g></div>
    </div>
    </a>
  </div>

  <div class="modal" id="Detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <img src="images/{{record.fields.type_equide_etalon}}.jpg" class="img-responsive">
          <h3 class="modal-title" id="myModalLabel">joliCoeur du {{record.fields.num_departement_stationnement}}</h3>
          <div info-detail></div>
        </div>
        <div class="modal-body">
          <div info-g></div>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" onClick="location.href='#/detail'" type="button" class="btn btn-default" >Je le veux!</button>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

<div class="row footer">
  <button ng-click="nbresults=nbresults+8" type="button" class="btn btn-default btn-block">
    Du choix!
  </button>
</div>

</div>

</html>